.page {
  width: 100%;
  background-color: aliceblue;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.page .page-container {
  outline: solid 1px #d4d4d4;
  border-radius: 0.5rem;
  background-color: white;
  width: min(90%, 1920px);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
}